@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

:root{
    --font-padrao: 'Poppins', Arial, sans-serif;
    --cor01: #840ec9;
}

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: var(--font-padrao);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

a{
    display: inline-block;
    margin: 20px;
    color: white;
    text-decoration: none;
}

a:hover{
    color: var(--cor01);
    text-decoration: underline;
    transition: 0.3s;
}

#botton{
    border: 3px solid var(--cor01);
    padding: 10px;
    border-radius: 15px;
}

#botton:hover{
    background-color: var(--cor01);
    color: white;
    transition: 0.3s;
}

h1{
    font-weight: 200;
}

/*Colocar a imagem ao lado do texto*/
main{ 
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 2.5vw;
    line-height: 10px;
    font-weight: medium;
    width: 100%;
}

span{
    color: var(--cor01);
}

p{
    text-align: justify;
    font-weight: normal;
}

img{
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.submit{
    height: 50px;
    width: 50%;
    background-color: var(--cor01);
    color: white;
    font-weight: bolder;
}

.submit:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}